<div class="row">
{{#each tools}}
  <div class="tool-item" data-id={{id}}>
    <div class="row">
      <div class="photo">
        <p>PHOTOHAHA</p>
      </div>
    </div>
    <div class="row">
      <p>{{name}}</p>
    </div>
    <div class="row">
      <p>{{user_id}}</p>
    </div>
  </div>
{{/each}}
</div>