<div class="small-8 large-8 columns">
  <dl class="tabs" data-tab>
    <dd class="active"><a id="tab-profile" href="#panel-profile">Your Profile</a></dd>
    <dd><a id="tab-tools" href="#panel-tools">Your Tools</a></dd>
  </dl>

  <div class="tabs-content">
    <div class="content active" id="panel-profile">

    </div>
    <div class="content" id="panel-tools">

    </div>
  </div>
</div>