<<<<<<< Updated upstream
<h1>Toolzzzzzz</h1>
  <div class="row">
    <div id="ajax_tools" class="small-12 large-12 columns">

    </div>
  </div>
      <!-- <ul id="ajax_tools" class="small-block-grid-3">
      </ul> -->

<!--     <div class="small-block-grid-3">
      <ul>
        <li>TOOLS</li>
        <li>Tools</li>
      </ul>
    </div>
    <div class="small-block-grid-3">
      <ul>
        <li>TOOLS</li>
        <li>Tools</li>
      </ul>
    </div>
  </div> -->


<!-- <p id="ajax_tools">dffdsfsdfdsf</p> -->
=======
<h1>THIS IS THE HOMEPAGE</h1>
<div id="ajax_user" data-id=<%=current_user.id if current_user%>>
</div>
<div id="ajax_tools">
</div>
<div id="searcharea">
  <input type="search" name="search" id="search">
</div>
<div id="ajax_test">
</div>
>>>>>>> Stashed changes
