<div id="toolModal" class="reveal-modal" data-reveal></div>
<div id="main" class="row">
</div>
<div class="row">
  <div id="searcharea">
    <input type="search" name="search" id="search">
  </div>
</div>
<div class="result row">
  <div id="search_result">
  </div>
</div>
<div class="row">
  <div id="other">hello
  </div>
</div>