<h1>Toolzzzzzz</h1>
  <a href="#" data-reveal-id="myModal">Click</a>
  <div id="myModal" class="reveal-modal" data-reveal>
    <p>fdsfdsfds</p>
  </div>
  <div class="row">
    <div id="ajax_tools" class="small-12 large-12 columns">

    </div>
  </div>
  <div class="row">
    <div id="searcharea">
      <input type="search" name="search" id="search">
    </div>
  </div>
  <div class="row">
    <div id="search_result">
    </div>
  </div>

