<h1>Toolzzzzzz</h1>
  <div class="row">
    <ul class="small-block-grid-3">
      <li>TOOLS</li>
      <li>Tools</li>
      <li>TOOLS</li>
      <li>Tools</li>
      <li>TOOLS</li>
      <li>Tools</li>
      <li>TOOLS</li>
      <li>Tools</li>
      <li>TOOLS</li>
      <li>Tools</li>
    </ul>
  </div>

<!--     <div class="small-block-grid-3">
      <ul>
        <li>TOOLS</li>
        <li>Tools</li>
      </ul>
    </div>
    <div class="small-block-grid-3">
      <ul>
        <li>TOOLS</li>
        <li>Tools</li>
      </ul>
    </div>
  </div> -->


<!-- <p id="ajax_tools">dffdsfsdfdsf</p> -->