/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

html, body {
  height: 100%;
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 20px;
}

.tool-item {
  width: 33%;
  float: left;
  border-style: solid;
  margin: 1px 0 0 1px;
}

.row .row {
  margin-left: 3%;
}

.tool-item {
  cursor: hand;
  cursor: pointer;
}

.img-circle {
  height: 40px;
  width: 40px;
  margin: 5px 15px;
  border-radius: 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}